body {
    background-color: grey;
}

.foto {
    width: 200px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50%;
    /*
    border-width: 5px;
    border-style: solid;
    border-color: black;
    */
}

p {
    color: rgb(54, 54, 54);
}