* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 12px;
}
.header {
    color: white;
    margin-top: 70px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}


.form{
    text-align: center;
    color: white;
    
}

.form .nome, .email {
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 470px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    text-indent: 10px;
}

.form .check {
    font-size: 11px;
}

.form .nome {
    margin-left: 0;
    text-align: left;
    
}

.button {
    background: rgb(49, 150, 190);
    color: white;
    padding: 10px 161px;
    font-family: 'Lato', sans-serif;
}

.button:hover {
    background-color: rgb(107, 107, 241);
}