
.container {
    background: silver;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    height: 600px;

}



.caixa {
    width: 100px;
    height: 100px;
}

.red {
    flex-grow: 2;
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    flex-grow: 3;
    background-color: yellow;
}

.green {
    background-color: green;
}